{% extends "countries.html" %}
{% block title %}Add New Highlight{% endblock %}

{% block content %}
<form action= "{{url_for('addNewHighlight', country_name=country.name)}}" method = 'POST'>
<div class='pane'>
	<h1>Add New Highlight</h1>
	<div class="row edit-highlight-row">
		<p class="col-sm-2 edit-highlight-label">Name: </p>
		<input class="col-sm-8" name='name' type='text'>
	</div>
	<div class="row edit-highlight-row">
		<p class="col-sm-2 edit-highlight-label">Prologue: </p>
		<input class="col-sm-8" name='prologue' type='text'>
	</div>
	<div class="row edit-highlight-row">
		<p class="col-sm-2 edit-highlight-label">Description: </p>
		<textarea class="col-sm-8" name='description' rows='5' cols='40'></textarea>
	</div>
	<div class="row">
		<div class="col-sm-10 edit-highlight-button">
			<input class="btn btn-primary float-right" type="submit" value="Add">
			<a class="btn btn-default float-right" role="button" href="{{url_for('countryHighlights', country_name=country.name)}}">Cancel</a>
		</div>
	</div>
</div>
</form>
{% endblock %} 