{% extends "countries.html" %}
{% block title %}{{country.name}} - Highlights{% endblock %}

{% block content %}
<div class='pane'>
	<h1>{{country.name}} - Highlights</h1>

	<a href="{{url_for('addNewHighlight', country_name=country.name)}}">Add New</a>
	<a href="{{url_for('editCountry', country_name=country.name)}}">Edit</a>
	<a href="{{url_for('deleteCountry', country_name=country.name)}}">Delete</a>

	<ol>
	{% for highlight in highlights %}

	<li><a href="{{url_for('highlightDescription', 
		country_name=country.name, highlight_name=highlight.name)}}">
		{{highlight.name}}</a></li>

	{% endfor %}
	</ol>
</div>
{% endblock %} 