<!doctype html>
<html lang="en">
<head>
	<title>Catalog App | {% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/site.css">
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"></script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
  <body>
	<div class="navbar-wrapper">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="/">Catalog App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarNavDropdown" class="navbar-collapse collapse">
				<ul class="navbar-nav ml-auto">
					{% if 'username' not in session %}
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showLogin')}}">Login</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('disconnect')}}">Logout</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>
	<div class="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">Countries	</li>
			<li>
				<a class="sidebar-add" href="{{url_for('addNewCountry')}}">Add New</a>
			</li>
			{% for country in countries %}
			<li>
				<a href="{{url_for('countryHighlights', country_name=country.name )}}">{{country.name}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="content-wrapper">
		{% block content %}
		<h1>Select from the sidebar or <a href="{{url_for('addNewCountry')}}">Add A New Country</a>.</h1>
		<h3>Latest Items</h3>
		<ul class="latest-items">
			{% for highlight in highlights|sort(reverse=True, attribute='id') %}
			{% if loop.index < 11 %}
			<li>
				<a href="{{url_for('highlightDescription', country_name=highlight.country.name, highlight_name=highlight.name )}}">{{highlight.name}}</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endblock %}
	</div>
  </body>
</html>