{% extends "countries.html" %}
{% block title %}Delete - {{highlight.name}}{% endblock %}

{% block content %}
<form action= "{{url_for('deleteHighlightDescription', country_name=country.name, highlight_name=highlight.name)}}" method = 'POST'>
<div class='pane'>
	<h3>Are you sure you want to delete {{country.name}} - {{highlight.name}}</h3>
	<p>{{highlight.description}}</p>
	<input type='submit' value='Delete'>
</div>
</form>
<a href= "{{url_for('highlightDescription', country_name=country.name, highlight_name=highlight.name)}}">Cancel</a>
{% endblock %} 