{% extends "countries.html" %}
{% block title %}Edit - {{highlight.name}}{% endblock %}

{% block content %}

<form action= "{{url_for('editHighlightDescription', country_name=country.name, highlight_name=highlight.name)}}" method = 'POST'>
<div class='pane'>
	<div class="row">
		<p class="col-sm-5">Highlight Name: </p>
		<input class="col-sm-7" name='name' type='text' value='{{highlight.name}}'>
	</div>
	<div class="row">
		<p class="col-sm-5">Highlight Prologue: </p>
		<input class="col-sm-7" name='prologue' type='text' value='{{highlight.prologue}}'>
	</div>
	<div class="row">
		<p class="col-sm-5">Highlight Description: </p>
		<textarea class="col-sm-7" name='description' rows='5' cols='40'>{{highlight.description}}</textarea>
	</div>
	<input type='submit' value='Edit'>
</div>
</form>
<a href= "{{url_for('highlightDescription', country_name=country.name, highlight_name=highlight.name)}}">Cancel</a>
{% endblock %} 