<html>

<head>
<title>Edit - {{highlight.name}}</title>
</head>


<body>
<form action= "{{url_for('editHighlightDescription', country_name=country.name, highlight_name=highlight.name)}}" method = 'POST'>
<div class='pane'>
<input name='name' type='text' value='{{highlight.name}}'></input>

<textarea name='description' rows='5' cols='40'>{{highlight.description }}</textarea>
<input type='submit' value='Edit'>

</div>
</form>
<a href= '{{url_for('highlightDescription', country_name=country.name, highlight_name=highlight.name)}}'>Cancel</a>
</body>

</html>